.auctions {
  overflow: hidden;
  padding-bottom: 80px;

  &-item {
    background: #3d2942;
    padding: 32px;
    &__img {
      position: relative;
      img {
        //  object-fit определяет, каким образом содержимое замещаемых элементов будет подогнано к краям контейнера тега в случае, когда для элемента заданы ширина и высота, отличные от его собственных размеров.
        // cover 	Содержимое элемента обрезается, выравниваясь по центру с сохранением пропорций таким образом, чтобы полностью заполнить область контейнера.
        object-fit: cover;
      }
      div {
        position: absolute;
        // значение 0 привязывает элемент к точки с координатами 0
        bottom: 0;
        left: 0;
        // градиент
        background: linear-gradient(
          125.33deg,
          #8613a5 18.61%,
          rgba(250, 250, 250, 0.65) 137.4%
        );
        // прозрачность
        opacity: 0.95;
        // тень
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
        // позволяет применять визуальные эффекты.
        backdrop-filter: blur(22.5px);
        // закругление границ
        border-radius: 0px;
        padding: 15px 45px;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.02em;
        color: #f5fbf2;
      }
    }

    .auctions-profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // плохое решение
      margin: 28px 0;

      &__guy {
        display: flex;
        align-items: center;
        img {
          display: block;
          border-radius: 50%;
          // определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.
          overflow: hidden;
          // да плохое решение внешний отступ
          margin-right: 16px;
          width: 64px;
          height: 64px;
        }

        &__owner {
          font-weight: 500;
          font-size: 28px;
          line-height: 35px;
          color: #f5fbf2;
        }

        &__nick {
          font-size: 20px;
          line-height: 35px;
          display: flex;
          align-items: center;
          color: #bdaac1;
          // херовое решение давать элементу внешний отступ, нужно переделать, на родительский блок назначить класс и задать следующие свойства gap: 5px; display: flex; flex-direction: column;
          // margin-top: 8px;
        }
      }

      .auctions-profile__likes {
        display: flex;
        align-items: center;
        img {
          width: 28px;
          // хорошее свойство надо его запомнить
          transform: scale(4);
        }
        span {
          font-size: 32px;
          line-height: 35px;
          color: #76607a;
        }
      }
    }

    .auctions__bid {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .auctions-bid__title {
        font-size: 24px;
        line-height: 35px;
        color: #c6bfc8;
      }

      .auctions-bid__price {
        font-family: 'Oxanium';
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
      }
    }

    .auctions__btn {
      // дурно так делать
      margin-top: 40px;

      width: 100%;
      display: block;
      background: rgba(233, 215, 167, 0.1);
      border: 1px solid #fde8b3;
      padding: 21px 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      letter-spacing: 0.05em;
      color: $white;
    }
  }

  .auctions__view-all {
    // так делать не хорошо
    margin: 84px auto 0;
    padding: 24px 64px;
    border: 1px solid #ffce4e;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    display: block;
  }
}
