.categories {
  overflow: hidden;
  padding-bottom: 80px;

  .categories-slide {
    // padding-top: 0;
    .item {
      background: #3d2942;
      padding: 32px;

      &__img {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.65);
          opacity: 0;
          transition: all, 0.3s;
        }

        &:hover {
          &:after {
            opacity: 1;
          }
          button {
            opacity: 1;
            pointer-events: all;
          }
        }

        img {
          //  object-fit определяет, каким образом содержимое замещаемых элементов будет подогнано к краям контейнера тега в случае, когда для элемента заданы ширина и высота, отличные от его собственных размеров.
          // cover 	Содержимое элемента обрезается, выравниваясь по центру с сохранением пропорций таким образом, чтобы полностью заполнить область контейнера.
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
        }

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          pointer-events: none;
          transform: translate(-50%, -50%);
          background: #ffce4e;
          backdrop-filter: blur(22.5px);
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          color: #000000;
          padding: 21px 58px;
          // свойство анимации, что бы кнопка появлялась постепенно
          transition: all 0.3s;
          // что бы кнопка была впереди затемнения
          z-index: 2;
          // что бы текст не переносился
          white-space: nowrap;
          transition: all 0.3s;
          &:hover {
            -webkit-box-shadow: 4px 4px 16px 21px rgba(255, 206, 78, 0.53);
            -moz-box-shadow: 4px 4px 16px 21px rgba(255, 206, 78, 0.53);
            box-shadow: 4px 4px 16px 21px rgba(255, 206, 78, 0.53);
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // плохое решение
        margin: 28px 0;

        .guy {
          display: flex;
          align-items: center;
          img {
            display: block;
            border-radius: 50%;
            // определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.
            overflow: hidden;
            // да плохое решение внешний отступ
            margin-right: 16px;
            width: 64px;
            height: 64px;
          }

          &__owner {
            font-weight: 500;
            font-size: 28px;
            line-height: 35px;
            color: #f5fbf2;
          }

          &__nick {
            font-size: 20px;
            line-height: 35px;
            display: flex;
            align-items: center;
            color: #bdaac1;
            // херовое решение давать элементу внешний отступ, нужно переделать, на родительский блок назначить класс и задать следующие свойства gap: 5px; display: flex; flex-direction: column;
            // margin-top: 8px;
          }
        }

        .likes {
          display: flex;
          align-items: center;
          img {
            width: 28px;
            // хорошее свойство надо его запомнить
            // transform: scale(4);
          }
          span {
            font-size: 32px;
            line-height: 35px;
            color: #76607a;
          }
        }
      }

      .bid {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
          font-size: 24px;
          line-height: 35px;
          color: #c6bfc8;
        }

        &__price {
          font-family: 'Oxanium';
          font-weight: 700;
          font-size: 24px;
          line-height: 35px;
        }
      }

      &__btn {
        // дурно так делать
        margin-top: 40px;

        width: 100%;
        display: block;
        background: rgba(233, 215, 167, 0.1);
        border: 1px solid #fde8b3;
        padding: 21px 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: $white;
      }
    }

    &__view-all {
      // так делать не хорошо
      margin: 84px auto 0;
      padding: 24px 64px;
      border: 1px solid #ffce4e;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.05em;
      display: block;
    }
  }
}

.profile_margin_28px_0 {
  margin: 28px 0;
}
