.first {
  padding-top: 37px;
  min-height: 100%;
  position: relative;

  background-image: url('../img/bg-effect.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .container {
    position: relative;
    z-index: 2;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &-title {
    max-width: 700px;
  }
  .h1 {
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 85px;
    line-height: 130px;
    color: $white2;
    span {
      color: $yellow;
    }
    @media (max-width: 1100px) {
      font-size: 50px;
      line-height: 150%;
    }
    @media (max-width: 850px) {
      text-align: center;
    }
    @media (max-width: 500px) {
      font-size: 42px;
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &-btns {
    display: flex;
    align-items: center;
    padding: 75px 0 120px;
    gap: 48px;

    @media (max-width: 900px) {
      gap: 20px;
      padding: 50px;
      //justify-content: center;
    }
    @media (max-width: 850px) {
      gap: 20px;
      justify-content: center;
    }

    &__btn,
    &__btn2 {
      padding: 24px 76px;
      font-family: 'Work Sans';
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      @media (max-width: 1100px) {
        padding: 20px 45px;
      }
      @media (max-width: 900px) {
        padding: 15px 25px;
      }
      @media (max-width: 850px) {
        flex-basis: 48%;
      }
    }

    &__btn {
      background: $yellow;
      color: #000000;
      transition: all 0.3;
      &:hover {
        color: $yellow;
        background: #000;
      }
    }

    &__btn2 {
      background: rgba(233, 215, 167, 0.1);
      border: 1px solid #ffce4e;
      transition: all 0.3s;
      &:hover {
        -webkit-box-shadow: 4px 4px 16px 0px rgba(255, 206, 78, 0.2);
        -moz-box-shadow: 4px 4px 16px 0px rgba(255, 206, 78, 0.2);
        box-shadow: 4px 4px 16px 0px rgba(255, 206, 78, 0.2);
      }
    }
  }

  &-numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_fake {
      display: none;
    }
    @media (max-width: 850px) {
      display: none;
      &_fake {
        padding-top: 70px;
        display: flex;
      }
    }
    &__number {
      font-size: 24px;
      line-height: 35px;
      color: #9b9e9a;
      @media (max-width: 1100px) {
        font-size: 20px;
      }
      p {
        font-family: 'Oxanium';
        font-weight: 700;
        font-size: 62px;
        line-height: 78px;
        color: $white2;
        @media (max-width: 1100px) {
          font-size: 40px;
        }
      }
    }
  }

  // Темная обложка на правой стороне.
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 47%;
  //   height: 100%;
  //   background: rgba(79, 70, 78, 0.45);
  //   backdrop-filter: blur(15px);
  // }

  &__arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);

    background: rgba(109, 91, 114, 0.4);
    box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 50%;
    z-index: 10;
    width: 156px;
    height: 156px;

    transition: all 0.3s;
    &:hover {
      background: darken(rgba(79, 70, 78, 0.45), 20);
    }
    @media (max-width: 850px) {
      display: none;
    }

    img {
      max-width: 25%;
      // width: 45px;
      //transform: scale(4);
    }
  }
  &-nft {
    background: url(../img/nft-item.jpg);
    max-width: 550px;
    width: 100%;
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;

    @media (max-width: 1270px) {
      margin-left: 20px;
    }
    // высота картинки
    @media (max-width: 1100px) {
      height: 500px;
    }

    @media (max-width: 850px) {
      margin-left: 0;
    }
    @media (max-width: 500px) {
      height: 380px;
    }

    .header {
      padding: 18px 35px;
      width: 90%;
      margin: 0 auto;
      background: linear-gradient(
        92.8deg,
        rgba(255, 137, 61, 0.09) -52.37%,
        rgba(250, 250, 250, 0.9) 137.41%
      );
      opacity: 0.95;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
      backdrop-filter: blur(22.5px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 500px) {
        padding: 10px 22px;
        width: 95%;
      }

      &__title {
        font-family: 'Oxanium';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.08em;
        text-transform: capitalize;

        color: #e4dee7;
      }

      &__number {
        font-family: 'Oxanium';
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #ffffff;
      }
    }

    &-footer {
      width: 100%;
      background: #ffffff;
      border-radius: 0px;
      display: flex;
      justify-content: space-between;
      // для того что бы кнопка не вытягивалась в высоту
      align-items: center;
      padding: 35px 50px;

      @media (max-width: 1100px) {
        padding: 30px;
      }
      @media (max-width: 500px) {
        padding: 15px;
      }

      &__title {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.07em;
        color: #16091b;
        @media (max-width: 500px) {
          font-size: 18px;
        }
      }

      &__nick {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 24px;
        color: #594d5e;
        @media (max-width: 500px) {
          font-size: 14px;
        }
      }

      &__btn {
        background: #ffce4e;
        backdrop-filter: blur(22.5px);
        padding: 23px 45px;

        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        &:hover {
          color: $yellow;
          background: #000;
        }
        @media (max-width: 500px) {
          padding: 8px 23px;
          font-size: 16px;
        }
      }
    }
  }
}
