.how {
  padding-top: 185px;
}
.how__title {
  text-align: center;
  font-family: 'Oxanium';
  font-weight: 700;
  font-size: 64px;
  line-height: 130px;
  color: #f5fbf2;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

.how__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    gap: 50px 0;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 128px;
  }
}

.how__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:last-child {
    .how__icon {
      &:after {
        display: none;
      }
    }
  }
  @media (max-width: 1000px) {
    flex-basis: 49%;
    &:nth-child(2) {
      .how__icon {
        &:after {
          display: none;
        }
      }
    }
  }
  @media (max-width: 500px) {
    &:nth-child(2) {
      .how__icon {
        &:after {
          display: block;
        }
      }
    }
  }
}

.how__icon {
  background: #372839;
  border-radius: 50%;
  width: 106px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   плохо так делать
  margin-bottom: 32px;
  position: relative;
  img {
    max-width: 50%;
    // transform: scale(2.5);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%) translateX(100%);
    background: url('../img/how-elem.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 165px;
    height: 10px;
  }
  @media (max-width: 1200px) {
    &:after {
      right: -30%;
      width: 100px;
    }
  }
  @media (max-width: 500px) {
    &::after {
      top: 100%;
      transform: translateX(-100%) translateY(100%) rotate(90deg);
      height: 80px;
      width: 80px;
    }
  }
}

.how__sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffce4e;
  @media (max-width: 700px) {
    font-style: 18px;
  }
}
